# Env
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build
frontend/dist/
frontend/.vite/
frontend/vite.config.js.timestamp-*.mjs

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Claude
.claude/
.fuse_hidden*
